
<h2 style="padding-left: 26%">商品一覧</h2>
<div class="container">
<div class="row">
<div class="col-md-10 col-md-offset-1">

<%= link_to new_admin_item_path do %>
	<h1><i class="fas fa-plus-circle"></i></h1>
<% end %>
<table class="table">
<tr class="active" style="font-weight: bold">
	<td>商品ID</td>
	<td>イメージ</td>
	<td>商品名</td>
	<td>税抜価格</td>
	<td>ジャンル</td>
	<td>ステータス</td>
</tr>
<br>
<% @items.each do |i| %>
	<tr>
		<td><%= i.id %></td>
		<td><%= attachment_image_tag i, :item_image %></td>
		<td><%= link_to i.name, admin_item_path(i) %></td>
		<td><%= i.price %>円</td>
		<td>
			<% genre = Genre.find(i.genre_id) %>
			<%= genre.name %></td>
		<td>
			<% if i.is_selling == true %>
				<p>販売中</p>
			<% else %>
				<p>販売停止中</p>
			<% end %>
		</td>
	</tr>
<% end %>
</table>

</div>
</div>
</div>