
<h1>注文情報入力</h1>
<%= form_with model:@order ,url: orders_comfirm_path do |f|%>
<h2>支払方法</h2>
	<%= f.radio_button :payment_method, 1 %>
	<%= f.label :payment_method, "クレジットカード", {value: 1, style: "display: inline-block;"} %>
	<%= f.radio_button :payment_method, 2 %>
	<%= f.label :payment_method, "銀行振込", {value: 2, style: "display: inline-block;"} %>

<h2>お届け先</h2>
	<%= f.radio_button :address, 1 %>
	<%= f.radio_button :address, 2 %>
	<%= f.radio_button :address, 3 %>
	<%= f.submit "確認画面へ進む", class: "btn btn-primary"%>
<% end %>