<%= render 'customer/sidebar' %>

<div class="container">

	<h1>商品一覧<span class="count"> (全<%= @items.length%>件)</span></h1>
<!-- todoジャンル別検索機能つける / 件数の表示 -->

	<div class="items">
	<% @items.each do |i| %>
		<%= link_to customer_item_path(i) do %>
		<div class="itembox">
			<%= attachment_image_tag i, :item_image %>
			<p>Name | <%= i.name %> </p>
			<p>Price | ¥ <%= i.price %> </p>
		</div>
		<% end %>
	<% end %>
</div>