<%= render 'customer/sidebar' %>



<% if @genre.present? == true %>
	<h1><%= @genre.name %>一覧<span class="count"> (全<%= @items.length%>件)</span></h1>
<% else %>
	<h1>商品一覧<span class="count"> (全<%= @items.length%>件)</span></h1>
<% end %>

	<div class="items">
	<% @items.each do |i| %>
		<%= link_to customer_item_path(i) do %>
		<div class="itembox">
			<%= attachment_image_tag i, :item_image %>
			<p>Name | <%= i.name %> </p>
			<p>Price | ¥ <%= i.price %> </p>
		</div>
		<% end %>
	</div>
	<% end %>

