<div class="container">
<div class="mailing-form">
<div class="col-lg-4">
	<h4>配送先登録 / 一覧</h4>
</div>
<%= form_with model: MailingAddress.new do |f| %>
	<div class="col-lg-12"><div class="col-lg-2"><%= f.label :郵便番号 %></div><div class="col-lg-2"><%= f.text_field :postcode,placeholder:'ハイフンなし' %></div></div>
	<div class="col-lg-12"><div class="col-lg-2"><%= f.label :住所 %></div><div class="col-lg-2"><%= f.text_field :address,class: 'address' %></div></div>
	<div class="col-lg-12"><div class="col-lg-2"><%= f.label :宛名 %></div><div class="col-lg-2"><%= f.text_field :name %></div><div class="col-lg-4">
		<%= f.hidden_field :customer_id, value: current_customer.id %>
		<%= f.submit "登録する", class: "btn btn-success"%>
		<% end %></div>
	</div>
</div>

<div class="col-lg-9">
<table class="table table-bordered">
<tr class="active">
	<th>郵便番号</th>
	<th>住所</th>
	<th>宛名</th>
	<th></th>
</tr>
<% @mailing_addresses.each do |m|%>
<tr>
	<td style="line-height: 30px;"><%= m.postcode%></td>
	<td style="line-height: 30px;"><%= m.address %></td>
	<td style="line-height: 30px;"><%= m.name %></td>
	<td style="line-height: 30px;">
		<%= link_to '編集する',  edit_mailing_address_path(m) ,class: "btn btn-primary"%>
		<%= link_to '削除する',  mailing_address_path(m) , method: :delete ,class: "btn btn-danger"%>
	</td>
</tr>
<% end %>
</table>
</div>
</div>
</div>
