<h1>ショッピングカート</h1>
<%= link_to 'カートを空にする',  destroy_cart_items_path, method: :delete, class: 'btn btn-danger'%>
<table class="table">
	<td>商品名</td>
	<td>単価(税込)</td>
	<td>数量</td>
	<td>小計</td>
	<td></td>
<% @cart_items.each do |cart| %>
<tr>
	<th><%= cart.item.name %></th>
	<th><%= (cart.item.price * 1.1).floor %></th>
	<th><%= form_with model:cart, url:cart_item_path(cart), method: :patch do |f| %>
		<%= f.hidden_field :item_id, value: cart.item.id %>
		<%= f.hidden_field :customer_id, value: current_customer.id %>
		<%= f.text_field :count , value:cart.count %>
		<%= f.submit "変更"%>
		<% end %></th>
	<th><%= (cart.item.price * 1.1).floor * cart.count %></th>
	<th><%= link_to '削除する', destroy_cart_item_path(cart), method: :delete, class: 'btn btn-danger' %></th>
</tr>
<% end %>
</table>
<%# カートアイテムの合計金額が出せない! %>