<header class="navbar navbar-fixed-top navbar-inverse">
<div class="container">
<% if customer_signed_in? %>
    <div>ようこそ　〇〇さん！</div>
    <nav>
        <ul class="nav navbar-nav navbar-center">
            <li><%= link_to "HOME", root_path %></li>
            <li><%= link_to "CART", cart_items_path %></li>
            <li><%= link_to "ALL ITEMS", customer_items_path %></li>

            <li><h3>Nagano Cake</h3></li>

            <li><%= link_to "ABOUT", about_path %></li>
            <li><%= link_to "MYPAGE", "#" %></li>
            <li><%= link_to "LOGOUT", destroy_customer_session_path, method: :delete %></li>
        </ul>
    </nav>
<% elsif admin_signed_in? %>
    <nav class="nav navbar-nav navbar-left">
        <h3>ながのCAKE</h3>
    </nav>
    <nav>
        <ul class="nav navbar-nav navbar-right">
            <li><%= link_to "商品一覧", admin_items_path %></li>
            <li><%= link_to "会員一覧", admin_customers_path %></li>
            <li><%= link_to "注文履歴一覧", admin_orders_path %></li>
            <li><%= link_to "ジャンル一覧", admin_genres_path %></li>
            <li><%= link_to "ログアウト", destroy_admin_session_path, method: :delete %></li>
        </ul>
    </nav>
<% else %>
    <nav>
        <ul class="nav navbar-nav navbar-center">
            <li><%= link_to "HOME", root_path %></li>
            <li><%= link_to "CART", new_customer_registration_path %></li>
            <li><%= link_to "ALL ITEMS", customer_items_path %></li>

            <li><h3>Nagano Cake</h3><li>

            <li><%= link_to "ABOUT", about_path %></li>
            <li><%= link_to "LOGIN", new_customer_session_path %></li>
            <li><%= link_to "新規登録", new_customer_registration_path %></li>
        </ul>
    </nav>
<% end %>
</div>
</header>