<%# 未ログイン時には表示させる %>
<div class="sidebar">
    <%# 統一 %>
    <div class="sidebar_genres">
        <% if customer_signed_in? %>
            <h3>カート内商品</h3>
            <ul>
            <% @cart_items.each do |cart_item| %>
                <li><%= @cart_item.name%> ×　<%= @cart_item.count %></li>
            <% end %>
            </ul>
            <p>
                <%= link_to "注文に進む", orders_new_path %>
            </p>
        <% end %>
        <h3>ジャンル検索</h3>
        <ul>
            <li>
                <%= link_to "ケーキ", customer_items_path %>
            </li>
            <li>
                <%= link_to "焼き菓子", customer_items_path %>
            </li>
            <li>
                <%= link_to "プリン", customer_items_path %>
            </li>
            <li>
                <%= link_to "キャンディ", customer_items_path %>
            </li>
            <li>
                <%= link_to "全て", customer_items_path %>
            </li>
        </ul>
    </div>
</div>